doctype 5
html
	head
		title= 'Silent Daemon v0.1'
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css') 
		link(rel='stylesheet', href='/stylesheets/docs.css') 
	body
		block content
