doctype 5
head
		title= 'Silent Daemon v0.1'
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		h1 SilentDaemon Busybox v0.1
		p.lead Tiny and highly-scalable load-blanacer!
		.page-header		
		
body
.container
	.row
		.span6
			ul.nav.nav-list
				li.nav-header List header
				li
					a(href='#') Home
				li.active
					a(href='#') Ifconfig
				li
					a(href='#') Applications
				li.nav-header Another list header
				li
					a(href='#') Profile
				li
					a(href='#') Settings
				li.divider
				li
					a(href='#') Help
		.span6
			p Current IP Address: #{result}
