doctype 5
head
		title= 'Silent Daemon v0.1'
body
	.navbar.navbar-fixed-top
		.navbar-inner
			.container
				a.brand(href='../') SilentDaemon Busybox v0.1
					#main-menu.nav-collapse
	.container-fluid
			.row-fluid
				.span3
					.well.sidebar-nav
						ul.nav.nav-list
							li.nav-header Basic Tools
							li.active
								a(href='#') Ping
							li
								a(href='#') Traceroute
							li
								a(href='#') netstat
							li.nav-header Backend
							li
								a(href='#') HAProxy
							li
								a(href='#') System Configuration
							li
								a(href='#') Backup & Restore
							li
								a(href='#') About
							li
								a(href='#') Get connected!
				.span8
					form(action='/ping', method='post', autocomplete='off', class="well form-search")
						.fieldset
						.control-label
						p Please enter required the URL or IP Address: 
						input(type='text', name='ip', class='input-xlarge')
						input(type='submit', name='Submit', class='btn btn-primary')
						p.help-block Please make sure that the device is connected in order to reach your desitnation
						hr
						- if (typeof(msg) != 'undefined')
								.alert.alert-error
									a.close ×
									strong Error | #{msg}
						.control-group.warning
							label.control-label(for='inputWarning')
								#log
					link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
					link(rel='stylesheet', href='/stylesheets/docs.css')
					script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
					script(src='/socket.io/socket.io.js')
					script
						$(document).ready(function() {
							var socket = io.connect('http://localhost:3000', { 'connect timeout': 50000 });
							socket.on('log', function (data) {
									$('#log').append('<br /> Result: ' + data);
							})
							socket.on('connect_failed', function(){
								console.log('Connection Failed');
							});
							socket.on('connect', function(){
								console.log('Connected');
							});
							socket.on('disconnect', function () {
								console.log('Disconnected');
							});
						});
